.phonebook__form {
  display: block;
  width: 300px;

  margin: auto;
  padding: 15px;
  margin-top: 15px;
  background-color: rgb(190, 220, 248);
  border: 1px solid grey;
}

.phonebook__name input,
.phonebook__tel input {
  
  margin-left: 10px;
  margin-bottom: 15px;
}
.contacts {
  width: 400px;
  margin: auto;
  padding: 15px;
  margin-top: 15px;
  background-color: rgb(190, 220, 248);
  border: 1px solid grey;
}

.contacts__list {
  list-style: none;
  text-align: left;
  padding: 10px;
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
